<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@Pizza.Special?.Name</div>
    <!-- Mostrar la imagen de la pizza en el carrito -->
    <img src="@Pizza.Special?.ImageUrl" alt="Pizza Image" style="width: 100px; height: auto;" />

    <ul>
        @foreach (var topping in Pizza.Toppings)
        {
            <li>+ @topping.Topping?.Name</li>
        }
    </ul>
    <div class="item-price">
        @Pizza.GetFormattedTotalPrice()
    </div>
    <p>
        Metodo de envío: @Pizza.ShippingMethod
    </p>
</div>



@code {
    [Parameter, EditorRequired] public Pizza Pizza { get; set; } = new();
    [Parameter, EditorRequired] public EventCallback OnRemoved { get; set; }
}